<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="/output.css" rel="stylesheet">
    <title></title>
</head>
<body>
  <div class="box">
    <form action="/connection" method="post"  >

        <div class="font-serif"> Movie: </div><input id="search" name="movie" type="text" /> <br />
        <input id="search" type="submit" />
    </form>
  </div>
</body>
</html>
